# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django files
*.db
*.sqlite3
/static/
/media/

# Environment variables
.env
*.env

# Large files
*.bin
*.pickle
*.pkl
chroma_storage/
Lumereah(Django)/

