{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumereah</title>
    <link rel="stylesheet" href="{% static 'core/age.css' %}">
</head>
<body>
    <form method="post" class="age-form">
        {% csrf_token %}

        <label for="age">Enter Your Age Please</label>
        <input type="number" id="age" name="age" min="1" step="1" required>

        <button type="submit" class="next-btn">
         →   
        </button>
    </form>
</body>
</html>
