<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Budget</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="budget">What is your budget?</label>
        <input name="budget" id="budget" type="number"
        min="0.00" max="300,000" step="10.00"
        placeholder="e.g 15,000.00">

        <button type="submit">Enter!</button>

    </form>
</body>
</html>